.contact-container{
    padding: 10% 10% 0 10%;
}

.contact{
    max-width: 750px;
}

.message{
    background-color: #ffffff1c;
    border: none;
    color: lightgray;
}

.message:focus{
    background-color: #ffffff1c;
    color: lightgray;
}

.footer-icon svg{
    font-size: 25px;
    /* color: #8B8B8B; */
    color: lightgray;
    margin: 0px 8px;
}

.footer-icon svg:hover{
    color: white;
}